{% extends 'page.html' %}
{% load url from future %}

{% block title %}Tentang Gempa.org{% endblock %}
{% block meta_desc %}Tentang Gempa.org{% endblock %}

{% block pagecontent %}
    <div class="span9">
      <h3>Tentang Gempa.org</h3>

      <p><a href="{% url 'homepage' %}">Gempa.org</a> adalah sebuah situs yang dibangun sebagai respon atas banyak nya kejadian Gempa bumi yang terjadi di Indonesia belakangan ini.</p>

      <p>Namun sayangnya, meskipun Indonesia termasuk negara yang rawan akan terjadinya gempa bumi dan tsunami, sosialisasi kepada masyarakat tenang bagaimana cara menghindari, menghadapi dan melewati bencana alam ini masih sangat kurang.</p>

      <p>Sehingga ketika bencana ini terjadi berkali-kali, korban dengan jumlah yang banyak terus berjatuhan.</p>

      <p>Jadi Gempa.org bertujuan untuk memberikan informasi sebanyak-banyaknya dan seakurat mungkin kepada masyarakat dalam menghadapi bencana, sehingga paling tidak masyarakat Indonesia lebih memahami dan lebih siap untuk menghadapi bencana alam ini.</p>

      <p>Situs ini dan semua informasi di dalamnya disediakan secara gratis kepada umum, kami hanya ingin agar semua informasi yang didapatkan melalui situs ini bisa disebarluaskan kepada masyarakat di seluruh Indonesia dan dimanapun anda berada.</p>

      <p>Apabila ada niat baik dari pengguna Gempa.org untuk memberikan dukungan secara finansial melalui donasi, kami pun akan sangat ber-terima kasih dan akan digunakan untuk pengembangan situs ini lebih lanjut (baik server, domain, dan tenaga developer).</p>

      <p>Semoga Gempa.org menjadi bahan referensi bermanfaat bagi masyarakat Indonesia.</p>

    </div>

    <div class="span3">
        <h3>Team</h3>
      
        <div class="media">
        <a class="pull-left" href="javascript:;">
        <img class="media-object" src="{{STATIC_URL}}img/eka-putra.jpg">
        </a>

        <p><strong>Eka Putra</strong></p>
        <p>Adalah seorang website developer yang berasal dari Bali.</p>
        <p>Kegiatan sehari-hari memang tidak jauh dari bidang web development, tetapi terdapat dalam benak kecilnya untuk memanfaatkan skill yang dia punya untuk membantu masyarakat di sekitarnya dan Indonesia pada umumnya.</p>

        <p><strong>Ingin bergabung?</strong> silahkan hubungi Eka Putra di <a href="mailto:ekaputra07@gmail.com">ekaputra07[at]gmail.com</a>.</p>
        </div>

    </div>
{% endblock %}