html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; padding-top: 50px; background: #232323}

#map {
    height:100%;
    width: 100%;
    background: #fff;
    border-top: 1px solid #428bca;
}

.navbar a{outline: none;}

/*SIDEBAR*/
#sidebar{
    position: fixed;
    top:0;
    left:0;
    width:340px;
    height:100%;
    background: #fff;
    padding-top: 60px;
    overflow: hidden;
}

#sidebar .content .nav-pills{
    border-bottom: 1px solid #428bca;
}

#sidebar .content .nav-pills li a{
    padding: 5px 10px;
    margin: 0;
    border-radius: 0;
}

#sidebar .list{
    overflow: hidden;
}

#sidebar .list .eq-item{
    display: block;
    border-bottom: 1px solid #ddd;
    color: #111;
    text-decoration: none;
    font-size: 12px;
    padding:5px 0;
    cursor: pointer;
    background: #fff; /* Old browsers */
}

#sidebar .list .eq-item:hover,
#sidebar .list .eq-item.active{
    color: #000;
    background: #eee;
}
#sidebar .list .eq-item:hover .magnitude,
#sidebar .list .eq-item.active .magnitude{background: #fff}

#sidebar .list .eq-item .location{
    text-overflow:ellipsis;
    white-space:nowrap;
    width:250px;
    overflow:hidden;
}

#sidebar .list .eq-item .magnitude{
    float:left;
    width: 60px;
    height: 50px;
    background: #fff;
    margin-right: 10px;
    color: #555;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#sidebar .list .eq-item img{
    float:left;
    margin-right: 10px;
}
