{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Indonesia's Earth Information System{% endblock %} | gempa.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_desc %}Indonesia's Earth Quake Map and Visualization{% endblock %}">
    <meta name="author" content="Eka Putra - balitechy.com">
    <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/magnific-popup.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.jscrollpane.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}bootstrap/assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'homepage' %}"><strong>GEMPA.ORG</strong></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->

            <li class="dropdown">
              <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Map Type <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#scalemap">Quake Location</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#heatmap">Heat Map</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#about">About INA-EQINFO</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">How it works</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Data Source</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Credits</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>

    <div id="map"></div>

    <div id="sidebar">
      <div class="content">
        <ul class="nav nav-pills list-tab">
          <li class="active"><a href="javascript:;" data-target="eqs">Latest 60</a></li>
          <li><a href="javascript:;" data-target="videos">Videos</a></li>
          <li><a href="javascript:;" data-target="bmkg">BMKG News</a></li>
        </ul>

          <div class="list"></div>
      </div>
    </div>

    <!--<footer>
      <p class="muted" style="text-align:center">
      &copy; 2013 <a href="/" title="INA-EQINFO"><strong>INA-</strong>EQINFO</a> Indonesia's Earth Quake Map and Visualization | powered by <a target="_blank" href="https://www.djangoproject.com/">Django</a> on <a href="https://developers.google.com/appengine/" target="_blank">Google Appengine</a></p>
    </footer>-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/assets/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=geometry,visualization&sensor=false"></script>
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.magnific-popup.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
    <script src="{{STATIC_URL}}js/gempa.js"></script>
  </body>
</html>

