{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gempa Monitor Indonesia{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_desc %}Indonesia's Earth Quake Map and Visualization{% endblock %}">
    <meta name="author" content="Eka Putra - balitechy.com">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/magnific-popup.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.jscrollpane.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'homepage' %}"><strong>GEMPA MONITOR</strong></a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->

            <li class="dropdown">
              <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Map Type <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#scalemap">Lokasi Gempa</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#heatmap">Heat Map</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Tentang <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#modalAbout">Tentang Gempa Monitor</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#modalHowitworks">Cara Kerja</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#modalDatasource">Sumber Data</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="map"></div>

    <div id="sidebar">
      <div class="content">
        <ul class="nav nav-pills list-tab">
          <li class="active"><a href="javascript:;" data-target="eqs">Gempa terbaru</a></li>
          <li><a href="javascript:;" data-target="videos">Video</a></li>
        </ul>

          <div class="list"></div>
      </div>
    </div>

    <!-- Modal -->
    {% include 'modal-about.html' %}
    {% include 'modal-howitworks.html' %}
    {% include 'modal-datasource.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=geometry,visualization&sensor=false"></script>
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.magnific-popup.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
    <script src="{{STATIC_URL}}js/gempa.js"></script>
  </body>
</html>

