{% extends 'base.html' %}
{% block content %}

<ul class="nav nav-tabs map-selector">
  <li class="active"><a href="javascript:;" data-zoom="5" data-source="latest">Gempa terbaru</a></li>
  <li><a href="javascript:;" data-zoom="5" data-source="latest60">60 Gempa terbaru</a></li>
  <li class="pull-right  map-loading"><img src="{{STATIC_URL}}img/loading.gif"/></li>
</ul>

<div id="map"></div>
<div class="well well-small">
Data dan lokasi gempa yang tampil diatas adalah gempa yang tercatat dengan Magnitude diatas 5 SR (Skala Richter).
</div>

<div class="row">
    <!-- Example row of columns -->
    <div class="span4">
      <h4>Apa itu gempa?</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-info" href="#">Selengkapnya</a></p>
    </div>
    <div class="span4">
      <h4>Saya harus bagaimana?</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-info" href="#">Selengkapnya</a></p>
    </div>
    <div class="span4">
      <h4>Siaga Gempa</h4>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-info" href="#">Selengkapnya</a></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKt1ilZdWJtjJ3tvnD7OFOp0yplT9ipGE&sensor=false"></script>
<script src="{{STATIC_URL}}js/gempa.js"></script>
{% endblock %}