<div class="modal" id="modalHowitworks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Cara Kerja</h4>
    </div>
    <div class="modal-body">
        <p>Cara kerja gempa monitor sangatlah sederhana kalau dilihat dari segi teknis karena tidak ada menggunakan teknologi yang sangat baru sekali, hanya teknologi pengembangan web standar saat ini.</p>

        <p>Bagian terpenting sistem ini adalah bagaimana kami mendapatkan data yang selalu di update setiap hari, setiap 1 jam sekali kami membaca secara otomatis data gempa terkini yang disediakan BMKG (<a href="http://inatews.bmkg.go.id" target="_blank">http://inatews.bmkg.go.id</a>).</p>

        <p>Data tersebut kami olah secara sederhana dan kami tampilkan dalam bentuk peta, baik itu peta lokasi gempa ataupun persebaran gempa (Heat Map).</p>

        <p>Untuk video gempa yang terjadi di Indonesia, kami mendapatkannya dari Youtube yang kami query dengan kata kunci tertentu sehingga mendapatkan video-video yang berhubungan dengan aktivitas gempa di Indonesia.</p>

        <p>Situs ini di hosting secara gratis melalui Google Appenngine (<a href="https://appengine.google.com/" target="_blank">https://appengine.google.com/</a>) dan kode sumber situs ini kami lepas secara terbuka dan dapat dilihat di <a href="https://github.com/ekaputra07/gempa-monitor" target="_blank">https://github.com/ekaputra07/gempa-monitor</a>.</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
    </div>
  </div>
</div>
</div>
