<div class="modal" id="modalDatasource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Sumber Data</h4>
    </div>
    <div class="modal-body">
        <p>Situs ini tidak akan mungkin ada tanpa data-data yang kami dapatkan dari sumber-sumber berikut ini:</p>

        <p>
          <ul>
              <li><a href="http://inatews.bmkg.go.id" target="_blank">BMKG</a></li>
              <li><a href="http://inatews.bmkg.go.id/rss/csveqslastest.txt" target="_blank">Data gempa terbaru dari BMKG</a></li>
              <li><a href="http://inatews.bmkg.go.id/rss/csvlast60event.txt" target="_blank">60 Data gempa terbaru dari BMKG</a></li>
              <li><a href="https://www.youtube.com/" target="_blank">Video Gempa di Indonesia</a></li>
          </ul>
        </p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
    </div>
  </div>
</div>
</div>
