<div class="modal" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Tentang Gempa Monitor</h4>
    </div>
    <div class="modal-body">
        <p>Gempa Monitor adalah sebuah situs yang dibangun sebagai respon atas banyak nya kejadian Gempa bumi yang terjadi di Indonesia belakangan ini.</p>

        <p>Namun sayangnya, meskipun Indonesia termasuk negara yang rawan akan terjadinya gempa bumi dan tsunami, sosialisasi kepada masyarakat tenang bagaimana cara menghindari, menghadapi dan melewati bencana alam ini masih sangat kurang.</p>

        <p>Situs ini dan semua informasi di dalamnya disediakan secara gratis kepada umum, kami hanya ingin agar semua informasi yang didapatkan melalui situs ini bisa disebarluaskan kepada masyarakat di seluruh Indonesia dan dimanapun anda berada.</p>

        <p>Apabila ada niat baik dari pengguna Gempa Monitor untuk memberikan dukungan secara finansial melalui donasi, kami pun akan sangat ber-terima kasih dan akan digunakan untuk pengembangan situs ini lebih lanjut (baik server, domain, dan tenaga developer).</p>

        <p>Semoga Gempa Monitor menjadi bahan referensi bermanfaat bagi masyarakat Indonesia.</p>

        <div class="span3">
            <h3>Pengembang</h3>

            <div class="media">
            <a class="pull-left" href="javascript:;">
            <img class="media-object" src="http://www.gravatar.com/avatar/a5d969eeffbbfc0c9666f274e8a6c01a">
            </a>

            <p><strong>Eka Putra</strong> Adalah seorang website developer yang berasal dari Bali.</p>
            <p>Kegiatan sehari-hari memang tidak jauh dari bidang web development, tetapi terdapat dalam benak kecilnya untuk memanfaatkan skill yang dia punya untuk membantu masyarakat di sekitarnya dan Indonesia.</p>

            <p><strong>Ingin bergabung?</strong> silahkan hubungi Eka Putra di <a href="mailto:ekaputra07@gmail.com">ekaputra07[at]gmail.com</a>.</p>
            </div>

        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
    </div>
  </div>
</div>
</div>
